/* Global Styles */
body {
    font-family: 'Monaco', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ede6b9; /* very light coral */
}
     
/*styling hedaer*/
/* Header Styles */
.header {
    background-color: #829079; /* lavender */
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 24px;
    color: #000000; /* rebeccapurple */
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/*styling heading*?
h1 {
    color: #fff;
    background-color: #b9925e; /* coral */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

/* Currency Converter Styles */
.converter {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input[type="number"],
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input[type="text"] {
    width: calc(100% - 45px);
}
/*converting button here*/
.converter button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #66a0dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.converter button:hover {
    background-color: #0056b3;
}
/*gcghgvhgjvbhjhbhj*/
/* Footer Styles */
.footer {
    text-align: center;
    background-color: #829079; /* lavender */
    padding: 20px;
    margin-top: 150px;
}
